
@import "./var";
@import "./mixins";

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    overflow-x: hidden;
    background-color: Shade(1);
    font-family: $base_font;
    color: Primary(1);
}
ul{
    padding-left: 10px;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 1.8rem;
}
h3{
    font-size: 1.2rem;
}
h4{
    font-size: 0.9rem;
}
h1,h2,h3,h4,h5,h6,small,strong,label{
    font-family: $secondary_font;
    font-weight:400;
}

h1,h2,h3,h4,h5,h6{     
    color: Accent(1);
}
small{
    color: Secondary(0.6);
}
label{
    font-weight: 600;
    color: Primary(1);
}
p,a,li,tr{
    font-family: $base_font;
    color: Primary(1);
    font-weight: 500;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input,textarea{
    padding: 10px;
    outline: none;
    font-family: $secondary_font;
    border: 1px solid Muted(0.1);
    color: Primary(1);
    border-radius: 5px;
    background-color: Shade(0.4);
}
.select-drop{
    position: relative;
    display: inline-block;
    min-width:200px ; 
    width: fit-content;  
    height: 40px;
    box-shadow: none;
    border: none;
    .select-drop-pre__control:hover{
        box-shadow: 0px 0px 15px 5px Muted(0.1);
        border-color:  Muted(0.4);
    }
    .select-drop-pre__control:active{
        box-shadow: 0px 0px 15px 5px Muted(0.1);
        border-color:  Accent(1);
    }
    .select-drop-pre__control{    
        transition: all 0.25s ease;
        box-shadow: none;
        border: 1px solid Muted(0.1);
        padding: 0px;
        margin: 0px;
        height: 100%;
        background-color: Shade(0.4);
        .select-drop-pre__indicators{

            height: 100%;
        }

        .select-drop-pre__value-container{
            padding-top: 10px;
            vertical-align: center;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            align-content: flex-start;
        }
    }
    .select-drop-pre__menu{
        background-color: Shade(1);
        .select-drop-pre__menu-list{

        }
        .select-drop-pre__option{ 

        }
    }

}
input{
    height: 40px;
}

input:hover,textarea:hover{
    box-shadow: 0px 0px 15px 5px Muted(0.1);
    border-color:  Muted(0.4);
}
input:active,input:focus,input:active,input:focus{
    box-shadow: 0px 0px 15px 5px Muted(0.1);
    border-color:  Accent(1);
}



.input-error,.input-error:hover,.input-error:active,.input-error:focus{ 
    border-color: Error(1) !important;
}

input:disabled,.select-drop .select-drop-pre__control--is-disabled{
    color: black;
    background-color: Primary(0.4);
    border: 1px solid Primary(0.4) !important;
}

.make-null-icon{
    transition: all 0.2s ease;
    text-align: center;
    vertical-align: baseline;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
    object-fit: cover;
    background-image: url("../../../public/icons/CLOSE.svg");
    height: 20px;
    width: 20px;
    display: inline-block;
    transform: translateX(3px);
}
.make-null-icon:hover{
    opacity: 0.75;
    transform: translateX(5px);
}
button { 
    background-color: Warning(1);
    color: Primary(1);
    font-weight: 600;
    min-height: 40px;
    font-family: $secondary_font;
    padding: 10px 20px;
    letter-spacing: 0.06rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover,button:focus{
    box-shadow: 0px 0px 15px 5px Muted(0.1);
    background-color: Primary(1) ;

    color: Bright(1) ;

}
button:focus{
    background-color: Accent(1);

}

input[type="checkbox"],input[type="radio"]{
    accent-color: Accent(1) !important;
}

a{
    color: Warning(1);
    font-weight: 500;
    text-decoration: none;
}
a:hover{ 
    color: Accent(1) !important;
}
a:visited{ 
    color: Muted(1)
}


input,button,a,textarea{
    transition: all 0.25s ease-in-out;
}

.danger-text{
    color: Warning(1);
}